.closeButton {
    margin: 0 auto;
    display:inline-block;
    padding: 5px 15px;
    font-size: 22px;
    z-index: 40;
    position: relative;
    background-image: var(--gradientButton);
    background-size: 400%;
    color:white;
    border:none;
    border-radius: 50px;
}

.closeButton:hover, .closeButton:active, .closeButton:focus {
    color:white;
    animation: buttonHover .1s ease 0s 1 normal forwards;
    border:none;
}

.mapPlaceholder {
    width: 400px;
    height:400px;
    margin: 25px 0px 0px 25px;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
}

