@import '../../sass/abstracts/variables';

.projectsContainer {
    width: 100vw;
    height:120vh;
    /* background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,250,196,1) 82%, rgba(255,254,167,1) 100%); */
    background-image: linear-gradient(rgba($color-blue, .9),rgba($color-black, .9)), url('../../images/abstract-red-blue.jpg');
    background-size: cover;

    overflow: hidden;
    padding: 15rem 10rem 5rem 10rem;
    margin-top: -15rem;
    position:relative;
    z-index: 20;

    display: grid;
    grid-template-rows: max-content max-content;
    grid-gap: 6rem;
    justify-content: center;

    .projectsHeader {
        font-size: 7rem;
        color: $color-white;
        text-align: center;
        font-family: $font-header;
        text-transform: uppercase;
        margin-top: 3rem;

    }

    .cardsContainer {
        width: 100%;
        height: 60vh;
        //background-color: rgba(0, 128, 0, .6);

        display: grid;

        grid-template-rows: minmax(30rem, 1fr);
        grid-template-columns: repeat(3, minmax(20rem, 30rem));
        align-items: center;
        justify-items: center;
        grid-gap: 4rem;
    }

    .card {
        position: relative;
        perspective: 150rem;
        -moz-perspective: 150rem;
        width: 100%;
        height: 100%;
    
        
        &__Front, &__Back {
            background-color: $color-white;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            backface-visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            backface-visibility: hidden;
            transition: all .8s ease;
            overflow: hidden;
        }

        &__Back {
            transform: rotateY(180deg); //! change this back to 180deg
            display: grid;
            grid-template-rows: 1fr .25fr .3fr;

            &__red {
                background-image: linear-gradient(to bottom right, $color-1, $color-1-light);
            }

            &__blue {
                background-image: linear-gradient(to bottom right, $color-2, $color-2-light);

            }

            &__green {
                background-image: linear-gradient(to bottom right, $color-3, $color-3-light);

            }

            .technologyContainer {
                grid-row: 1 / 2;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;


                .technologyHeader {
                    font-size: 3rem;
                    //background-color:red;
                    font-family: $font-header;
                    text-transform: uppercase;
                    width: 100%;
                    text-align: center;
                    padding: 1rem;
                    color: $color-white;
                
                }

                .techListContainer {
                    ul {
                        list-style: none;
                        padding-top: 1rem;
        
                        li {
                            text-align: left;
                            padding: 1.2rem 1rem;
                            font-size: 1.6rem;
                            font-family: $font-paragraph;
                            font-weight: 500;

                            color: $color-white;
        
                            &:not(:last-child) {
                                border-bottom: 1px solid $color-white;
                            }
                        }
                        
                    }
                }

            }

            .githubBtnContainer {
                grid-row: 2 / 3;
                display: flex;
                justify-content: center;
                align-items: center;

                .githubBtn {
                    background-color: $color-white;
                    color: black;
                    border-radius: 100px;
                    width: 70%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    transition: all .3s ease;
                    position:relative;

                    &__disabled, &__disabled::before {
                        background-color: #cccccc !important;
                        //background-color: rgba(74, 74, 74, 0.324) !important;
                    }

                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background-color: $color-white;
                        border-radius: 100px;
                        z-index: 5;
                        opacity: 100%;
                        transition: all .3s ease;
                    }

                    &:hover {
                        transform: scale(1.2);
                        text-decoration: none;

                    }

                    &:hover::before {
                        opacity: 0%;
                        transform: scale(1.5);
                    }
                    
                  

                    .githubNameIcon, .githubLogoIcon {
                        font-size: 5rem;
                        position: relative;
                        z-index: 10;

                        &__red {
                            color: $color-1;
                        }

                        &__blue {
                            color: $color-2;
                        }

                        &__green {
                            color: $color-3;
                        }

                        &__disabled {
                            fill: #666666 !important;
                            // fill: rgba(74, 74, 74, 0.324) !important;
                        }
                    }
                   
                }
            }

            .liveBtnContainer {
                grid-row: 3 / 4;
                display: flex;
                justify-content: center;
                align-items: center;

                .liveBtn {
                    background-color: $color-white;
                    color: black;
                    width: 70%;
                    border-radius: 100px;
                    position: relative;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all .3s ease;

                    &__disabled, &__disabled::before {
                        background-color: rgba(94, 94, 92, 0.489) !important;
                        background-color: #cccccc !important;
                        //@at-root: 40%;
                    }


                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background-color: $color-white;
                        border-radius: 100px;
                        z-index: 5;
                        opacity: 100%;
                        transition: all .3s ease;

                        
                    }

                    &:hover {
                        transform: scale(1.2);
                        text-decoration: none;

                    }

                    &:hover::before {
                        opacity: 0%;
                        transform: scale(1.5);
                    }
                    
    
                    .liveText {
                        font-size: 1.6rem;
                        font-weight: 700;
                        font-family: $font-paragraph;
                        padding-right: 1.5rem;
                        position: relative;
                        z-index: 10;

                        &__red {
                            color: rgb(234, 0, 0);
                        }

                        &__blue {
                            color: rgb(0, 83, 208);
                        }

                        &__green {
                            color: rgb(6, 176, 40);
                        }

                        &__disabled {
                            color: #666666 !important;
                            //color: rgba(74, 74, 74, 0.324) !important;
                        }
                    }
    
                    .liveIcon {
                        width: 4.5rem;
                        height: 5rem;
                        position: relative;
                        z-index: 10;

                        &__red {
                            fill: rgb(234, 0, 0);
                        }

                        &__blue {
                            fill: rgb(0, 83, 208);
                        }

                        &__green {
                            fill: rgb(6, 176, 40);
                        }

                        &__disabled {
                            fill: #666666 !important;
                            //fill: rgba(74, 74, 74, 0.324) !important;
                        }
                    }
                }


        
            }

        }

        &:hover .card__Back {
            transform: rotateY(0deg);
        }
        &:hover .card__Front {
            transform: rotateY(-180deg);
        }

        .imageContainer {
            width: 100%;
            height: 50%;
            //clip-path: polygon(100% 0, 100% 100%, 50% 85%, 0 100%, 0 0);
            //clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
            clip-path: polygon(100% 0, 100% 92%, 50% 100%, 0 92%, 0 0);


            position: relative;

            &__red {
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: linear-gradient(to bottom right, rgba($color-1, .6), rgba($color-1-light, .6));
                }
            }

            &__blue {
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: linear-gradient(to bottom right, rgba($color-2, .6), rgba($color-2-light, .6));
                }
            }

            &__green {
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: linear-gradient(to bottom right, rgba($color-3, .6), rgba($color-3-light, .6));
                }
            }

            

            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .titleContainer {
            //background-color: yellow;
            text-align: center;
            margin-top: -5rem;
            position: relative;
            

            h3 {
                font-size: 3rem;
                text-transform: uppercase;
                font-family: $font-header;
                color: $color-white;
            }
        }

        .listContainer {
            //background-color: palevioletred;
            padding: 1rem 2rem;

            ul {
                list-style: none;
                padding-top: 1rem;

                li {
                    text-align: center;
                    padding: 1.2rem 0rem;
                    width: 100%;
                    font-size: 1.6rem;
                    font-family: $font-paragraph;

                    &:not(:last-child) {
                        border-bottom: 1px solid $color-black;
                    }
                }
                
            }
        }
        
    }

    .moreBtnContainer {
        display: flex;
        justify-content: center;
        align-items: flex-start;

        .moreProjectsBtn {
            text-align: center;
            //background-color: red;
            padding: 0rem 1rem;
            border-bottom: .3rem solid white;
            text-decoration: none;
            position: relative;
            transition: all .3s ease;
            

            span {
                position: relative;
                z-index: 10;
                font-size: 2.2rem;
                color: $color-white;
            }

            
            &:hover span {
                color: $color-blue-dark;
            }

            &:hover::before {
                height: 100%;
            }

            &::before {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 0%;
                background-color:$color-white;
                z-index: 5;
                transition: all .3s ease;

            }

    
     
        }
    }

}