@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    80% {
        transform: translateY(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes rotateIcon {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(180deg)scale(.8);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}

@keyframes scaleIcon {
    0% {
        transform: scale(1) perspective(1px) ;
        
        //zoom: 100%;
    }

    50% {
        transform: scale(1.2) perspective(1px);
        
        //zoom: 120%;
    }

    100% {
        transform: scale(1) perspective(1px);
        
        //zoom: 100%;
    }
}