$color-white: #eee;
$color-black: #0A0A0A;

$color-blue: #065fae;

//$color-nav-bg: #dfdfdf;

$color-nav-bg: #044176;


//$font-name: 'Alfa Slab One', cursive;
//$font-name: 'Passion One', cursive;
$font-name: 'Bowlby One SC', cursive;



$font-roleText: 'Courier Prime', monospace;

$font-location: 'Barlow Condensed', sans-serif;

$font-header:   'Barlow Condensed', sans-serif;

$font-paragraph: 'Montserrat Alternates', sans-serif;