$color-white: #eee;
$color-black: #0A0A0A;

$color-grey: #797777;
$color-grey-light: rgb(155, 155, 155);

$color-blue-light:rgb(5, 107, 196);
$color-blue: #065fae;
$color-blue-dark: #044176;

//$color-nav-bg: #dfdfdf;

$color-1-light: #f03518;
$color-1: #ea0000;

$color-2-light: #0e67ed;
$color-2: #0053d0;

$color-3-light: #0dce34;
$color-3: #06b028;



//$font-name: 'Alfa Slab One', cursive;
//$font-name: 'Passion One', cursive;
$font-name: 'Bowlby One SC', cursive;



$font-roleText: 'Courier Prime', monospace;

$font-location: 'Barlow Condensed', sans-serif;

$font-header:   'Barlow Condensed', sans-serif;

$font-paragraph: 'Montserrat Alternates', sans-serif;