.bio {
    display: inline-block;
    width: 100vw;
    height:100vh; 
    /* background: radial-gradient(circle, rgba(27,83,255,1) 0%, rgba(5,52,227,1) 100%); */
    background: radial-gradient(circle, rgba(18,18,18,1) 0%, rgba(8,8,8,1) 100%);
    z-index: 1;
}

.scrolled {
    margin-top: 40px;
}

/* ///////////// ABOUT ME CONTAINER //////////////// */

.carousel {
    /* background-color: navy; */
    float:right;
    width: 60%;
    height: 45vh;
    z-index: 5;
    
    margin: 3vh 10vw 0px 10px;
    
}

.aboutMeContainer {
    background-color: inherit;
    width: auto;
    height: 100vh;
    box-sizing: border-box;
    padding: 0px;
    margin: 10vh 0px 0px 2vw;
    font-size: 1.5em;
   
}

.aboutMeHeader {
    color:white;
    font-size: 64px;
    margin-bottom: 50px;
    text-align: center;
    text-shadow: 5px 5px 5px black;

}

.aboutMeParagraph {
    /* background-color: lime; */
    color:white;
    width: 100%;
    height:auto;
    text-align: left;
    margin: 0px 0px 0px 2.5vw;
    font-size: 1.3em;
    
}

.bioPictureContainer { 
    float:right;
    margin: 3vh 15vw 0px 10px;
    width: 40%;
    height: 35%;
    z-index: 5;

}

.bioPicture {
    width:100%;
    height:100%;
    border-radius: 100%;
    border: 2px solid black;
    box-shadow: 10px 10px 20px;
    z-index: 5;
    margin-top: 0;
    

}

/* ///////////// ATTRIBUTES CONTAINER //////////////// */
.attributesContainer, .hobbiesContainer {
    background-color: inherit;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 15px 0px 50px 0px;
    border-radius: 5px;
    font-size: 1em;
    overflow: scroll;
    
}

.attributesHeader, .hobbiesHeader  {
    color:white;
    text-align: center;
}

.attributesList, .hobbiesList {
    text-align: left;
    color:white;
    margin: 15px 0px 0px 50px;
}

.attributesList li, .hobbiesList li{
    padding: 5px 0px 5px 0px;
}

/* ///////////// HOBBIES CONTAINER //////////////// */

.bioBgText {
    display: inline-block;
    position:absolute;
    overflow: hidden;
    z-index: 5;
    margin-top:65vh;
    margin-right: 100px;
    left:0;
    color: black;
    font-size: 250px;
    opacity: 45%;
    text-shadow:10px 5px 15px;
    
}

.popOut {
    animation: scaleAndAppear 3s ease;
}

.fadeIn {
    animation: fadeIn 2s ease;
}

@keyframes scaleAndAppear {
    from {
        transform: scale(1.5);
        transform-origin: center;
        opacity: 0%;
    } to {
        transform: scale(1);
        transform-origin: center;
        opacity: 100%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0%;
    } to {
        opacity: 100%;
    }
}

@media screen and (min-width: 768px)
              and (max-width: 1280px) {
    /* For desktop: */
    .aboutMeParagraph {
        height:auto;
        font-size: 0.8em;
    } 

    .aboutMeHeader {
        color:white;
        font-size: 52px;
        margin-bottom: 35px;
        text-align: center;
        text-shadow: 5px 5px 5px black;
    
    }

    .carousel {
        height: 55vh;
        margin: 0vh 10vw 0px 10px;
        font-size: 0.65em;
    }

    .bioBgText {
        display: inline-block;
        position:absolute;
        overflow: hidden;
        z-index: 5;
        margin-top:45vh;
        margin-right: 100px;
        left:0;
        color: black;
        font-size: 250px;
        opacity: 45%;
        text-shadow:10px 5px 15px;
        
    }
  }

  @media screen and (min-width: 375px)
                   and (max-width: 768px) {
    /* For desktop: */
        .bio {
            display:none;
        }
  }