.bio {
    display: inline-block;
    width: 100%;
    height:900px; 
    color:red;
    background-color: blue;
}

.scrolled {
    margin-top: 56px;
}

.bioHeader {
    display: inline-block;
    width:100%;
    margin-top: 50px;
    margin-left: 35%;
}

.bioParagraph {
    float:left;
    width:60%;
    margin: 5%;
}

.bioPicture {
    width:300px;
    height:300px;
    box-sizing: border-box;
    border-radius: 150px;
    border: 2px solid black;
}