

.formContainer {
    width: 100%;
    height:auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 10px 10px 20px;
    padding: 50px;
    float:right;
    margin: 0px 50px 0px 0px;
    text-align: center;
}

.formInput {
    border: 2px solid lightgrey;
    border-radius: 25px;
    width: 100%;
    height: 40px;
    display: inline-block;
    margin: 5px;
}

.formInputs {
    display: inline-block;
    width: 80%;
}

.formInput::placeholder, .textAreaInput::placeholder {
    color: #a6a6a6;
    font-size:16px;
    padding-left:15px;

}

.textAreaInput {
    border: 2px solid lightgrey;
    border-radius: 25px;
    width: 100%;
    height:250px !important;
    resize: none;
}

.signInButton {
    background: linear-gradient(0deg, rgba(5,168,227,1) 0%, rgba(5,131,227,1) 100%);
    color: white;
    border-radius: 50px;
    width: 300px;
    height:60px;
    font-size: 24px;
    border:none;
}

.signInButton:hover {
    border:1px solid lightskyblue;
    box-shadow: 5px 5px 15px lightskyblue ;
    background: linear-gradient(0deg, rgb(74, 169, 204) 0%, rgb(0, 65, 116) 100%);
}