@import '../../../sass/abstracts/variables';

.toolbar {
    height:7vh;
    width:100vw;
    /* top: 6500; */
    left: 0;
    background-color: $color-blue-dark;
    z-index: 40;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-image: linear-gradient(to right, #044f91, #044f91);
        clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
        transition: .4s ease;
    }

    &:hover::before {
        width: 100%;
    }
    
    .navLink {
        display: flex;
        align-items: center;
        //background-color: yellow;
        color: $color-white;
        height: 100%;
        padding: 0rem 2.5rem;
        font-size: 2rem;
        position: relative;
        z-index: 5;
        transition: .2s ease;
        font-family: $font-location;
        font-weight: 500;
        letter-spacing: .2rem;
        text-transform: uppercase;

        &:hover {
            transform: translateY(-.4rem) scale(1.2);
            //color: $color-blue;
            color: #138CF6;

        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 5px;
            background-color: $color-black;
            z-index: 3;
            transition: .2s ease;
        }

        &:hover::before {
            width: 50%;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 0%;
            height: 5px;
            //background-color: $color-blue;
            background-color: #138CF6;
            z-index: 3;
            transition: .2s ease;
        }

        &:hover::after {
            width: 50%;
        }
       
    }
    
}

.scrolled {
position: fixed;
top: 0;
left: 0;

}
  

