.toolbar {
    height:56px;
    width:100%;
    /* top: 6500; */
    left: 0;
    background-color: #050505;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    
}

.toolbar nav {
    height: 100%;

}

.scrolled {
position: fixed;
top: 0;
width: 100%;
}

  