.toolbar {
    height:56px;
    width:100%;
    /* top: 6500; */
    left: 0;
    background-color: #050505;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 40;
    margin-top: -10px;
    
}

.navItems { 
    margin: 0 auto;
}

.toolbar nav {
    height: 100%;

}

.scrolled {
position: fixed;
top: 0;
width: 100%;
}

.dropdownToggle {
    display: none;
}
  

@media screen and (min-width: 370px)
                   and (max-width: 768px) {
    /* For Mobile: */
    .toolbar {
        height:56px;
        width:100vw;
        position: fixed;
        top:0;
        left: 0;
        margin-top: 0px;
        padding: 0px;
    }

    .dropdownToggle {
        display: block;
        float:left;
        padding:0px;
    }

    .navItems { 
        display:none;

    }
      
  }