@import '../../sass/abstracts/variables';
@import '../../sass/base/animations';

.skillsBg {
    background-image: linear-gradient(#eee,
    #eee);
     clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
    width: 100vw;
    min-height: 120vh;
    height: auto;
    position: relative;
    z-index: 30;
}

    .skillsContainer {
        width: 100vw;
        height:auto;
        margin: 0 auto;
        max-width: 1400px;
        // background-image: linear-gradient(#eee,
        // #eee);
        // clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
        z-index: 1;
        //overflow: hidden;
    
        //overflow: hidden;
        padding: 10rem 5rem 20rem 5rem;
        margin-top: -13rem;
        position:relative;
        z-index: 30;
    
    
        display: grid;
        grid-template-rows: max-content max-content 1fr 1fr;
        grid-template-columns: repeat(12, 1fr);
    
     
        
    
        .skillsHeader {
            grid-row: 1 / 2;
            grid-column: 1 / -1;
            display: flex;
            justify-content: center;
            //background-color: red;
            
    
            h2 {
                font-size: 6rem;
                color: $color-blue-dark;
                font-family: $font-header;
                text-transform: uppercase;
                margin-top: -1rem;
            }
        }
    
    
        .cubeContainer {
    
            grid-row: 2 / span 2;
            grid-column: 2 / span 2;
            //background-color: orange;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin-top: 0rem;
    
            .scene {
                width: 20rem;
                height: 20rem;
                perspective: 60rem;
                transform: scale(1);
            }
          
            .cube {
                width: 100%;
                height: 100%;
                position: relative;
                transform-style: preserve-3d;
                transform: translateZ(-10rem);
                transition: transform 1s;
            }
    
            .showFront  { 
                transform: translateZ(-10rem) rotateY(   0deg);
            }
            .showRight  { 
                transform: translateZ(-10rem) rotateY( -90deg);
            }
            .showBack   { 
                transform: translateZ(-10rem) rotateY(-180deg);
            }
            .showLeft   { 
                transform: translateZ(-10rem) rotateY(  90deg);
            }
            .showTop    { 
                transform: translateZ(-10rem) rotateX( -90deg);
            }
            .showBottom { 
                transform: translateZ(-10rem) rotateX(  90deg);
            }
            
            .cubeFace {
                position: absolute;
                width: 20rem;
                height: 20rem;
                display: flex;
                justify-content: center;
                align-items: center;
    
                .cubeText {
                    font-size: 2rem;
                    //color: white;
                    color: black;
    
                    
    
                    .reactIcon {
                        font-size: 10rem;
                        fill:  #61dbfb;
                        transition: all .2s ease;
    
                        &:hover {
                            animation-name: rotateIcon;
                            animation-duration: 1.5s;
                            animation-iteration-count: infinite;
                            animation-timing-function: linear;
                        }
                    }
                    .nodeIcon {
                        font-size: 10rem;
                        fill: #68A063;
                        transition: all .2s ease;
                        //backface-visibility: hidden;
    
                        &:hover {
                            animation-name: scaleIcon;
                            animation-duration: 2s;
                            animation-iteration-count: infinite;
                            animation-timing-function: ease;
                            
                        }
                    }
                    .sassIcon {
                        font-size: 10rem;
                        fill: #cc6699;
    
                        &:hover {
                            animation-name: scaleIcon;
                            animation-duration: 2s;
                            animation-iteration-count: infinite;
                            animation-timing-function: ease;
                            
                        }
                    }
                    .figmaIcon {
                        font-size: 10rem;
                        fill: #9636f7;
    
                        &:hover {
                            animation-name: scaleIcon;
                            animation-duration: 2s;
                            animation-iteration-count: infinite;
                            animation-timing-function: ease;
                            
                        }
                    }
                    .githubIcon {
                        font-size: 10rem;
                        fill: #f1502f;
    
                        &:hover {
                            animation-name: scaleIcon;
                            animation-duration: 2s;
                            animation-iteration-count: infinite;
                            animation-timing-function: ease;
                            
                        }
                    }
                    .wordpressIcon {
                        font-size: 10rem;
                        fill: #21759b;
                        filter: blur(0%);
    
                        &:hover {
                            animation-name: scaleIcon;
                            animation-duration: 2s;
                            animation-iteration-count: infinite;
                            animation-timing-function: ease;
                            
                        }
                    }
                }
            }
    
            .faceFront  { 
                //background: rgba(255, 0, 0, 0.7);
                background: rgba(244, 244, 244, 0.9);
                border: 1px solid black;
                transform: rotateY(  0deg) translateZ(10rem);
            }
            .faceRight  { 
                //background: rgba(255, 255, 0, 0.7);
                background: rgba(244, 244, 244, 0.9);
                border: 1px solid black;
                transform: rotateY( 90deg) translateZ(10rem);
            }
            .faceBack   { 
                //background: rgba(0, 255, 0, 0.7);
                background: rgba(244, 244, 244, 0.9);
                border: 1px solid black;
                transform: rotateY(180deg) translateZ(10rem);
            }
            .faceLeft   { 
                //background: rgba(0, 255, 255, 0.7);
                background: rgba(244, 244, 244, 0.9);
                border: 1px solid black;
                transform: rotateY(-90deg) translateZ(10rem);
            }
            .faceTop    { 
                //background: rgba(0, 0, 255, 0.7);
                background: rgba(244, 244, 244, 0.9);
                border: 1px solid black;
                transform: rotateX( 90deg) translateZ(10rem);
            }
            .faceBottom { 
                //background: rgba(255, 0, 255, 0.7);
                background: rgba(244, 244, 244, 0.9);
                border: 1px solid black;
                transform: rotateX(-90deg) translateZ(10rem);
            }
    
        }
        
        .btn {
            width: 4rem; 
            height: 4rem;
            border-radius: 50%;
            font-size: 2rem;
            text-transform: uppercase;
            border: 1px solid rgba($color-blue-dark, .7);
            background-color: rgba($color-blue, .4);
            box-shadow: .5rem .5rem 1.5rem black;
            position: relative;
            transition: all .3s ease;
            outline: none;
    
            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: rgba($color-blue, .7);
                opacity: 100%;
                transition: all .3s ease;
                z-index: 5;
    
            }
    
            &:hover {
                background-color: rgba($color-blue-light,1);
                transform: translateY(-.3rem) scale(1.1);
                box-shadow: .5rem .8rem 2rem black;
    
            }
    
            &:hover::before {
                transform: scale(1.8);
                opacity: 0;
            }
    
            .btnIcon {
                position: relative;
                z-index: 10;
                color: $color-white;

                .prevIcon {
                    margin: 0rem .3rem .2rem 0rem;
                }

                .nextIcon {
                    margin: 0rem 0rem .2rem .2rem;
                }


            }
            
        }
    
        .prevBtn {
            grid-row: 2 / span 2;
            grid-column: 1 / 2;
            display:flex;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 7.5rem;
        }
    
        .nextBtn {
            grid-row: 2 / span 2;
            grid-column: 4 / 5;
            display:flex;
            justify-content: flex-end;
            align-items: flex-start;
            margin-top: 7.5rem;

        }
    
        .skillsBoxGridCell {
            grid-row: 4/5;
            grid-column: 1 / span 4;
            position: absolute;
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;
            //background-color: lightblue;
            padding: 1rem 0rem;
            
    
            .skillsBoxHeader {
                width: 100%;
                height: auto;
                //background-color: yellow;
                border-bottom: 1px solid rgb(162, 161, 161);
                display: flex;
                justify-content: center;
    
                h3 { 
                    font-size: 3.5rem;
                    animation-name: moveInLeft;
                    animation-duration: .8s;
                    animation-timing-function: ease-out;
                    color: $color-blue-dark;
                    font-family: $font-header;
                    text-transform: uppercase;
    
                }
    
            }
    
            .technologiesContainer {
                width: 100%;
                height: auto;
                //background-color: rgb(0, 255, 123);
                padding: .5rem 1rem;
                display: flex;
                justify-content: space-around;
    
                .techIcon {
                    font-size: 3.5rem;
                    animation-name: fadeIn;
                    animation-duration: .8s;
                    animation-timing-function: ease-out;
                    transition: all .2s ease;
    
                    &:hover {
                        transform: scale(1.3);
                    }
                }
    
                .techJSIcon {
                    fill: #F0DB4F;
                }
    
                .techJQIcon {
                    fill: #0868AC;
                }
    
                .techBSIcon {
                    fill: #563d7c;
                }
    
                .techNPMIcon {
                    fill: #CC3534;
                }
    
                .techSqlIcon {
                    fill: #00758F;
                }
    
                .techMongoIcon {
                    fill: #3FA037;
                    //fill: #4DB33D;
    
                }
    
                .techPhpIcon {
                    fill: #474A8A;
                    //fill: #787CB5;
                }
    
                .techCSSIcon {
                    fill: #264DE4;
                    //fill: #2965F1;
    
                }
    
                .techPSIcon {
                    fill: #3c327B;
                    //fill: #8BC3FC;
                }
    
                .techGitIcon {
                    fill: #F1502F;
                }
            }
    
            .descriptionContainer {
                width: 100%;
                height: auto;
                //background-color: rgb(106, 57, 255);
                display: flex;
                padding: 1rem;
                
                p {
                    font-size: 1.6rem;
                    animation-name: moveInBottom;
                    animation-duration: .8s;
                    animation-timing-function: ease-out;
                    font-family: $font-paragraph;
                }
            }
        }
    
        .traitsContainer {
            grid-row: 3 / span 2;
            grid-column: 5 / -1;
            align-self: start;
    
            width: 100%;
            height: 80%;
            //background-color: yellowgreen;
            padding: 0rem 0rem 0rem 4rem;
    
            display:grid;
            grid-template-rows: max-content max-content;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 2rem;
    
            .traitsBox1 {
                //background-color: orange;
                background-image:   linear-gradient(
                                            70deg,
                                            rgba($color-blue-dark, 0.9) 70%,
                                            rgba($color-black, 0.5) 70%
                                            ),
                                            url('../../images/typing-mac.jpg');
                background-size: cover;
                border-radius: 5px;
                padding: 1rem;
                box-shadow: .5rem 1rem 3rem black;
                transition: all .5s ease;
                position: relative;
                z-index: 5;
    
                &:hover {
                    transform: scale(1.2);
                    z-index: 10;
                }
    
            
    
            }
    
            .traitsBox2 {
                background-image:   linear-gradient(
                                            70deg,
                                            rgba(0, 0, 0, 0.8) 70%,
                                            rgba($color-blue, 0.3) 70%
                                            ),
                                            url('../../images/forest-trees.jpg');
                background-size: cover;
                border-radius: 5px;
                padding: 1rem;
                box-shadow: .5rem 1rem 3rem black;
                transition: all .5s ease;
                position: relative;
                z-index: 5;
    
                &:hover {
                    transform: scale(1.2);
                    z-index: 10;            
                }
    
            }
    
            .traitsBox3 {
                background-image:   linear-gradient(
                                            70deg,
                                            rgba(0, 0, 0, 0.8) 70%,
                                            rgba($color-blue, 0.3) 70%
                                            ),
                                            url('../../images/Opera-house.jpg');
                background-size: cover;
                border-radius: 5px;
                padding: 1rem;
                box-shadow: .5rem 1rem 3rem black;
                transition: all .5s ease;
                position: relative;
                z-index: 5;
    
                &:hover {
                    transform: scale(1.2);
                    z-index: 10;
                }
    
            }
    
            .traitsBox4 {
                background-image:   linear-gradient(
                                            70deg,
                                            rgba($color-blue-dark, 0.9) 70%,
                                            rgba($color-black, 0.5) 70%
                                            ),
                                            url('../../images/birds-eye-grass.jpg');
                background-size: cover;
                border-radius: 5px;
                padding: 1rem;
                box-shadow: .5rem 1rem 3rem black;
                transition: all .5s ease;
                position: relative;
                z-index: 5;
    
                &:hover {
                    transform: scale(1.2);
                    z-index: 10;
                }
    
            }
    
            .traitHeader {
                color: white;
                font-size: 2.5rem;
                font-family: $font-header;
                text-transform: uppercase;
            }
    
            .traitDescription {
                //background-color: green;
                width: 70%;
                word-wrap: break-word;
                hyphens: auto;
                color: white;
                font-size: 1.4rem;
                font-family: $font-paragraph;
                //text-transform: uppercase;
    
            }
    
            .traitLogo {
                position: absolute;
                top: 3rem;
                right: 3rem;
                transform: translate(-2rem, 3rem) scale(2);
                fill: $color-white;
            }
    
        }
    }




