:root{
    --gradient: linear-gradient(
    45deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
    );
}

.progress {
    height: 40px;
    width:500px;
    background-color: #d8d8d8;
    border-radius: 20px;
    display:inline-block;
}

.progressDone {
   height:100%;
   width:0;
   opacity: 0;
   box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
   /* background: linear-gradient(to left, #F2709C, #FF9472); */
   background-image: var(--gradient);
   background-size:400%;
   border-radius: 20px;
   display:flex;
   align-items: center;
   justify-content: center;
   transition:1s ease-in-out 0.3s;
}

.progressDone:hover, .progressDone:focus {
    animation: bgProgressBar 0.8s infinite alternate;
}

@keyframes bgProgressBar {
    0% { 
        background-position: left;
        transform: scale(1);
        font-weight: initial;
    }

    100% {
        background-position: right;
        transform: scale(1.05);
        font-weight: bold;
    }

}