.iconContainer {
    display:inline-block;
    margin:0.5vh 0vw;
    padding: 0px;
    height:auto;
}

@media screen and (min-width: 375px)
                   and (max-width: 768px) {
    /* For mobile: */

.iconContainer {
    
    margin:0.5vh 5vw;

}

}