.contact {
    width: 100%;
    height:950px;
    display: inline-block;
    /* background-image: url(../../images/Contact.png); */
    background: radial-gradient(circle, rgba(255,233,0,1) 0%, rgba(255,229,0,1) 100%);
}

.sendEnquiryText {
    color: black;
    text-align: center;
    margin: 0px 100px 10px 0px;
    font-size: 24px;
}

.findMeText {
    color: black;
    text-align: center;
    margin: 30px 190px 0px 0px;
    font-size: 24px;
}

.contactHeader {
    margin-top: 35px;
    margin-right:150px;
    text-align: center;
    font-size: 64px;
}