.cardFront {
    width: 25vw;
    height: 75vh;
    margin-top: 0vh;
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}

.cardFront:hover {
  box-shadow: 15px 30px 10px 1px rgba(0, 0, 0, 0.253) !important;
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(219,246,255,1) 100%);
}

.card-body {
    padding: 1vh 1vw !important;
    height: 0vh;
    overflow: hidden;
}



.overflow {
    overflow:hidden;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}



.cardText  {
    overflow: hidden;
    height:70%;
    font-size: 1em ;
    margin:0;
}

.cardTextBack {
    overflow: hidden;
    height:87%;
    font-size: 1em ;
    margin:0;
}

.card-title {
    font-size: 1.5em;
}


.fullCard {
    width:50vh;
    height: 100vh;
    perspective: 1000px;
    position: relative; 
    transform-style: preserve-3d;
    transition: transform 1.5s ease;
    margin: 0vh 1vw 0vh 1vw;
}

/* .fullCard:hover /*  {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: transform 1.5s ease;
} */

.flip{
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: transform 1.5s ease;
}

.cardBack {
    position: absolute;
    top: 0;
    margin-top: 0px;
    perspective: 1000px;
    width: 25vw;
    height: 75vh;
    transform: rotateY(180deg);
}

.cardFront, .cardBack {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

/* #6500cf Purple color */
/* #123ce8 Blue Color*/

.liveVersionButton {
    margin: 0vh 0px 0px 0px;
    border: 1px solid #123ce8; 
    border-radius: 75px;
    color:#123ce8;
    width: auto;
    height:4.5vh;
    font-size: 1.2em;
}

.viewSourceButton {
    margin: 0vh 0px 0px 0.6vw;
    border: 1px solid #123ce8;
    border-radius: 75px;
    color:#123ce8;
    width: auto;
    height:4.5vh;
    font-size: 1.2em;

}

.flipCardButton {
    margin: 0vh 0.5vw 0px 0.6vw;
    border: 1px solid #123ce8;
    border-radius: 75px;
    color:#123ce8;
    width: auto;
    height:auto;
    font-size: 1.2em;
}

.backButton {
    border: 1px solid #123ce8;
    border-radius: 75px;
    color:#123ce8;
    width: 7vw;
    height:4.5vh;
    font-size: 1.2em;
    margin: 0vh;
}

.viewSourceButton:hover, .liveVersionButton:hover, .flipCardButton:hover, .backButton:hover {
    /* background: linear-gradient(180deg, rgba(189,51,255,1) 0%, rgba(143,19,255,1) 53%, rgba(153,56,255,1) 100%); */
    background: linear-gradient(180deg, rgba(18,186,232,1) 0%, rgba(18,135,232,1) 59%, rgba(18,60,232,1) 100%);
    border: 1px solid #123ce8;
}

.buttonIcons {
    width:1.5vw;
    height:3vh;
}


@media screen and (min-width: 768px)
                   and (max-width: 1280px) {
    /* For desktop: */
    .card-img-top {
        width: 100%;
        height: 15vw;
       
    }
    .card-title {
        font-size: 1em;
    }

    .card-text {
        font-size: 0.8em;
    }

    .cardTextBack {
        font-size: 0.8em ;
    }

    .liveVersionButton {
        margin: 0vh 0px 0px -0.5vw;
        border: 1px solid #123ce8; 
        border-radius: 75px;
        color:#123ce8;
        width: auto;
        height:4.5vh;
        font-size: 0.6em;
    }
    
    .viewSourceButton {
        margin: 0vh 0px 0px 0.5vw;
        border: 1px solid #123ce8;
        border-radius: 75px;
        color:#123ce8;
        width: auto;
        height:4.5vh;
        font-size: 0.6em;
    
    }
    
    .flipCardButton {
        margin: 0vh 0.5vw 0px 0.6vw;
        border: 1px solid #123ce8;
        border-radius: 75px;
        color:#123ce8;
        width: auto;
        height:auto;
        font-size: 0.6em;
    }
    
    .backButton {
        border: 1px solid #123ce8;
        border-radius: 75px;
        color:#123ce8;
        width: auto;
        height:4.5vh;
        font-size: 0.6em;
        margin: 0.5vh 0px 0px;
    }
}