.card {
    width: 100%;
    height: 100%;
    margin-top: 25px;
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}

.card:hover {
  box-shadow: 15px 30px 10px 1px rgba(0, 0, 0, 0.253) !important;
  background: linear-gradient(180deg, rgba(255,255,255,1) 3%, rgba(244,221,255,1) 100%);

}

.card-body {
    padding: 25px !important;
    height:320px;
    overflow: hidden;
}



.overflow {
    overflow:hidden;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}



.card-text  {
    overflow: hidden;
    height:50%;
}


.fullCard {
    width:100%;
    height: 100%;
    perspective: 1000px;
    position: relative; 
    transform-style: preserve-3d;
    transition: transform 1.5s ease;
}

/* .fullCard:hover /*  {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: transform 1.5s ease;
} */

.flip{
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: transform 1.5s ease;
}

.cardBack {
    position: absolute;
    top: 0;
    margin-top: 0px;
    perspective: 1000px;
    width:100%;
    height:100%;
    
}

.cardFront, .cardBack {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

.cardBack {
    transform: rotateY(180deg);
}

/* #6500cf Purple color */
/* #123ce8 Blue Color*/

.liveVersionButton {
    margin: 35px 0px 0px -20px;
    border: 1px solid #123ce8; 
    border-radius: 75px;
    color:#123ce8;
    width: auto;
    height:40px;
    font-size: 18px;
}

.viewSourceButton {
    margin: 35px 0px 0px 20px;
    border: 1px solid #123ce8;
    border-radius: 75px;
    color:#123ce8;
    width: auto;
    height:40px;
    font-size: 18px;

}

.flipCardButton {
    margin: 35px 10px 0px 20px;
    border: 1px solid #123ce8;
    border-radius: 75px;
    color:#123ce8;
    width: auto;
    height:auto;
    font-size: 18px;
}

.backButton {
    border: 1px solid #123ce8;
    border-radius: 75px;
    color:#123ce8;
    width: 150px;
    height:40px;
    font-size: 18px;
    margin: 210px 0px 0px 0px;
}

.viewSourceButton:hover, .liveVersionButton:hover, .flipCardButton:hover, .backButton:hover {
    /* background: linear-gradient(180deg, rgba(189,51,255,1) 0%, rgba(143,19,255,1) 53%, rgba(153,56,255,1) 100%); */
    background: linear-gradient(180deg, rgba(18,186,232,1) 0%, rgba(18,135,232,1) 59%, rgba(18,60,232,1) 100%);
    border: 1px solid #8900cf;
}

.buttonIcons {
    width:30px;
    height:30px;
}