.htmlIcon, .cssIcon, .jsIcon, .jqueryIcon, .reactIcon, .phpIcon, .bootstrapIcon, .sqlIcon, .wordpressIcon, .gitIcon, .photoshopIcon {
    width:5vw;
    height:5vh;
  /*  background-color: lime; */
    display:initial;
}


.htmlIcon{
    fill: url(#gradientHTML);
}

#htmlColumn:hover {
    color: #F16529;
    text-shadow: 1px 1px 4px grey;
}



.cssIcon {
    fill:url(#gradientCSS);
}

#cssColumn:hover {
    color: #2965f1;
    text-shadow: 1px 1px 4px grey;
}

.jsIcon {
    fill:url(#gradientJS);
}

.jqueryIcon {
    color: #0868AC;
}

#jqueryColumn:hover {
    color: #0868AC;
    text-shadow: 1px 1px 4px grey;
}


.reactIcon {
    color: skyblue;
}


.phpIcon {
    fill:url(#gradientPHP);
}

#phpColumn:hover {
    color: #787CB5;
    text-shadow: 1px 1px 4px grey;
}

.bootstrapIcon {
    color: #553C7B;
}

#bootstrapColumn:hover {
    color: #553C7B;
    text-shadow: 1px 1px 4px grey;
}

.sqlIcon {
    color: #00758F;
    /* Text color can be #F29111*/
}

#sqlColumn:hover {
    color: #00758F;
    text-shadow: 1px 1px 4px grey;
}

.wordpressIcon {
    color: #00749C;
    /* Text color can be #444140*/
}

#wordpressColumn:hover {
    color: #00749C;
    text-shadow: 1px 1px 4px grey;
}

.gitIcon {
    color: #f34f29;
    /* Text color can be #3d2d00*/
}

#gitColumn:hover {
    color: #3d2d00;
    text-shadow: 1px 1px 4px grey;
}

.photoshopIcon {
    color:#3C327B;
}

#photoshopColumn:hover {
    color: #3C327B;
    text-shadow: 1px 1px 4px grey;
}


