.techSkillsContainer {
    width: 85%;
    margin:0px 0px 0px 1vw;
    height:65vh;
    background-color: inherit;
    /*background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 82%, rgba(255,255,255,1) 100%);*/
    border-radius: 5px;
    /* box-shadow: 5px 0px 20px black; */
    overflow: hidden;
    font-size: 22px;
    position: relative;


}

.techSkillsList {
    list-style: none;
}

.rowComponent{
    padding: 3vh 0vw;
}

.colNameComponent{
   /*  background-color: paleturquoise; */
    text-align: right;
    padding: 0px 0.5vw 0px 0px;
    transition: all .1s ease-in-out;
    box-sizing: border-box;
    width: 20px;
    font-size: 0.9em;
}

.colNameComponent:hover{
    transform:scale(1.3);
 }

.colBarComponent {
   /*  background-color: yellow; */
    padding-top: 5px;
}

.downButton {
    position: absolute;
    border-radius: 100px;
    top: 42vh;
    left: 45vw;
}

.upButton {
    position: absolute;
    border-radius: 100px;
    top: 35vh;
    left: 45vw;

}

.downButtonIcon, .upButtonIcon {
    width:20px;
    height:30px;
}

@media screen and (min-width: 768px)
              and (max-width: 1280px) {
    /* For desktop: */
    .rowComponent{
        padding: 2.2vh 0vw;
    }
    .downButton {

        top: 35vh;
        left: 45vw;
    }
    
    .upButton {

        top: 25vh;
        left: 45vw;
    
    }
}

@media screen and (min-width: 375px)
and (max-width: 768px) {
/* Mobile */
.techSkillsContainer {
    width: 90vw;
    margin:0px 0px 0px 2vw;
    height:50vh;

    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 22px;
    position: relative;
}
.colNameComponent{
    /*  background-color: paleturquoise; */
     text-align: center;
     padding: 0px 0.5vw 0px 0px;
     transition: all .1s ease-in-out;
     box-sizing: border-box;
     width: 20px;
     font-size: 0.9em;
 }

 .downButton {

    display:none;
}

.upButton {

    display:none;

}


}
