.navigationItems {
    background-color: orange;
    width: 100%;


    .navigationItem {
        position: relative;
        //background-color: red;
        //border: 1px solid yellow;
        
    
    }

}

.navigationItemsDropdown {
    /* font-size: 1.5em;
    margin: 0 auto;
    padding: 0; */
}