.Banner {
    /* background-image: url('../../images/OperaHouseVivid.gif'); */
    background-image: url('../../images/harbourBridge.jpg');
    background-size: 100%;
    width:  100%;
    height: 91.5vh;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.nameSloganContainer {
    /* background-color: mistyrose; */
    margin: 0 auto;
    text-align: left;
    width:90%;
    padding: 15vh 0px 0px 0px;
    z-index: 26;
}
.buttonsContainer {
    /* background-color: palevioletred; */
    margin: 0 auto;
    text-align: center;
    width:90vw;
    padding: 0px 0px 0px 0px;
}

.nameText {
    /* background-color:lime; */
    width:100%;
    display:block;
    position: relative;
    z-index: 26;
}

.sloganTextStart{ 
    width:520px;
    display: inline-block;
    position: relative;
    z-index: 26;
}

.sloganTextEnd {
    display: inline-block;
    position: relative;
    z-index: 26;
}

.sloganArea {
    display:block;
    z-index: 26;
    position: relative;
    font-size: 32px;
    color: Black;
}

.nameText, .sloganTextStart, .sloganTextEnd{
    color:Black;
    font-size: 3.5vw;
}


@media screen and (min-width: 370px)
                   and (max-width: 768px) {
    /* For desktop: */
        .Banner {
            
        }
  }