.contactButton, .downloadButton {
    margin: 325px 20px 0px 20px;
    display:inline-block;
    padding: 10px 50px;
    font-size: 32px;
    border-radius: 50px;
    z-index: 5;
    position: relative;
    color: white;
    border: 1px solid white;
}

.contactButton:hover,
.contactButton:active,
.contactButton:focus,
.downloadButton:hover,
.downloadButton:active,
.downloadButton:focus  {
    color:black;
    background-color:white !important;
    border: 1px solid black !important;
}