:root{
    --gradientButton: linear-gradient(
    45deg,
    #00ccf5,
    #009ff5,
    #008cf0,
    #0086f5,
    #0078f0
    );
}


.contactButton, .downloadButton {
    margin: 35vh 20px 0px 20px;
    display:inline-block;
    padding: 0px 25px;
    font-size: 2em;
    border-radius: 50px;
    z-index: 35;
    position: relative;
    background-image: var(--gradientButton);
    background-size: 400%;
    color:white;
    box-shadow: 5px 5px 10px black;
}

.contactButton:hover,
.contactButton:active,
.contactButton:focus,
.downloadButton:hover,
.downloadButton:active,
.downloadButton:focus  {
    color:white;
    animation: buttonHover .1s ease 0s 1 normal forwards;

}

@keyframes buttonHover {
    from {
        box-shadow: 5px 5px 10px black;
        transform:scale(1.0);
        background-position: left;
    }
    to {
        box-shadow: 10px 5px 10px black;
        transform:scale(1.05);
        background-position: right;
    }
}

@media screen and (min-width: 768px)
                   and (max-width: 1280px) {
    /* For desktop: */

  }

  